---
title: Osvrti
description: Osvrti
layout: default
lang: hr
pagination:
  data: osvrtihr
  size: 10
  alias: osvrti
permalink: "/hr/osvrti{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
  p_title: "Osvrti Židovske općine Zagreb"
  p_description: "Osvrti Židovske općine Zagreb"
  p_id: "osvrt"
---
<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="index.html">Početna</a></li>
          <li class="active">Osvrti</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header --> 
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size:30px!important;">Osvrti Židovske općine Zagreb</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9 posts-archive">

          {% for item in pagination.items %}
        
          {% if item.naslov != "prazno" %}
          
          <article class="post">
            <div class="row">
              <div class="col-md-4 col-sm-4"> <a href="/hr/osvrti/{{ item.slug }}">
              {% if item.foto %}
                <img src="https://media.graphcms.com/resize=fit:clip,width:218,height:145/output=format:webp/{{ item.foto.handle }}" alt="" class="img-thumbnail"></a> </div>
              {% else %}
                <img src="/images/osvrti.jpg" alt="" class="img-thumbnail"></a>
              {% endif %}
              </div>
              <div class="col-md-8 col-sm-8">
                <h3><a href="/hr/osvrti/{{ item.slug }}">{{ item.naslov }}</a></h3>
                <span class="post-meta meta-data"> <span style="font-size:1.2em;"><i class="fa fa-calendar"></i> {{item.datum | dateHr }}</span></span>
                <p>{{ item.isjecak }}</p>
                <p><a href="/hr/osvrti/{{ item.slug }}" class="btn btn-primary">Nastavite čitati <i class="fa fa-long-arrow-right"></i></a></p>
              </div>
            </div>
          </article>

          {% else %}

          <header><h3>Trenutno nemamo objavljenih osvrta</h3></header>
          
          {% endif %}

          {% endfor %}
          <ul class="pagination">
          
          {% include "partials/pagination.njk" %}
          
          </ul>
        </div>

        {% include "partials/sidebar-page-hr.njk" %}

      </div>
    </div>
  </div>
</div>