---
layout: default
lang: en
pagination:
  data: dogadjanjaen
  size: 1
  alias: event
  addAllPagesToCollections: true
permalink: /en/events/{{ event.slug }}/index.html
eleventyComputed:
  p_title: "{{ event.naziv }}"
  p_type: "event"
  p_textcount: "{{ event.opistekst | wordCount }}"
  p_tekst: "{{ event.opistekst }}"
  p_datum: "{{ event.objavljeno }}"
  p_datumeventa: "{{ event.datum }}"
  p_id: "najava"
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/en">Home</a></li>
            <li><a href="/en/events">Upcoming events</a></li>
            <li class="active">{{ event.naziv }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-8">
        <h1 style="font-size:30px!important;">Events in Židovska općina Zagreb</h1>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4"> <a href="/en/events" class="pull-right btn btn-primary">All events</a> </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
        <div class="row">
            <div class="col-md-9">
                <header class="single-post-header clearfix">
                <h2 class="post-title">{{ event.naziv }}</h2>
                </header>
                <article class="post-content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: #0CC9E8;color:#fff">
                                    <h3 class="panel-title">Event details</h3>
                                </div>
                                <div class="panel-body" style="padding: 15px 0!important;">

                                {% if (event.datum | dateHr) != (event.datumend | dateHr) %}

                                    <ul class="info-table">
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-calendar"></i> <strong>Opening:</strong> {{ event.datum | dateEn('cccc')}}, {{ event.datum | dateEn}}
                                        
                                        {%if (event.datum | dateEn('HH:mm')) != "00:00" %}
                                            u {{ event.datum | dateEn('HH:mm') }}h
                                        {% endif %}    
                                        </li>
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-calendar"></i> <strong>Closing:</strong> {{ event.datumend | dateEn('cccc')}}, {{ event.datumend | dateEn}}</li>
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-map-marker"></i><strong>Locations:</strong> {{ event.lokacija }}</li>
                                    </ul>

                                {% else %}

                                    <ul class="info-table">
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-calendar"></i> <strong>Date and time: </strong>{{ event.datum | dateHr('cccc')}}, {{ event.datum | dateHr }} from {{event.datum | dateHr('HH:mm') }}h to {{event.datumend | dateHr('HH:mm') }}h
                                        </li>
                                        {% if event.lokacija %}
                                        <li style="padding: 10px 13px!important;"><i class="fa fa-map-marker"></i><strong>Location:</strong> {{ event.lokacija }}</li>
                                        {% endif %}
                                    </ul>

                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: #0CC9E8;color:#fff">
                                    <h3 class="panel-title">More information</h3>
                                </div>
                                <div class="panel-body" style="padding: 15px 0!important;">
                                    <ul class="info-table">
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-phone"></i> 1 800 321 4321</li>
                                        <li style="padding: 10px 10px!important;"><i class="fa fa-envelope"></i> <a href="mailto:jcz@zg.t-com.hr" target="_blank">jcz@zg.t-com.hr</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span style="font-size:0.9em;font-style:italic;float:right;">Published {{ event.objavljeno | dateEn }}</span>
                    <hr/><br/>
                    
                    {{ event.opis | safe }}
                    
                </article>
            </div>

            {% include "partials/sidebar-page-en.njk" %}

        </div>
    </div>
</div>