---
title: Events
description: Upcoming events
layout: default
lang: en
pagination:
  data: dogadjanjaen
  size: 10
  alias: dogadjanja
permalink: "/en/events{% if pagination.pageNumber > 0 %}/stranica{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
  p_title: "Events"
  p_description: "Events in Židovska općina Zagreb"
  p_id: "najava"
---
<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/en">Home</a></li>
          <li class="active">Upcoming events</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header --> 
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ p_description }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
        <div class="row">
            <div class="col-md-9"> 
                <!-- Events Listing -->
                <div class="listing events-listing">
                    <header class="listing-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                        <h3>Upcoming events</h3>
                    </div>
                    </div>
                    </header>
                    <section class="listing-cont">
                    <ul>
                    {% for item in pagination.items %}

                    {% if item.naziv != "prazno" %}

                        <li class="item event-item">
                        <div class="event-date"> <span class="date">{{item.datum | dateEn('dd') }}</span> <span class="month">{{item.datum | dateEn('LLL') }}</span> </div>
                        <div class="event-detail">
                            <h4><a href="/en/events/{{ item.slug }}">{{ item.naziv }}</a></h4>
                            <span class="event-dayntime meta-data">{{item.datum | dateEn('cccc') }} | {{item.datum | dateEn('HH:mm') }}h | {{ item.lokacija }}</span> </div>
                        <div class="to-event-url">
                            <div><a href="/en/events/{{ item.slug }}" class="btn btn-default btn-sm">Details</a></div>
                        </div>
                        </li>

                    {% else %}

                    <h4 style="margin-top:50px;">Currently we don't have any upcoming events</h4>

                    {% endif %}

                    {% endfor %}
                    </ul>
                    </section>
                </div>
            </div>

            {% include "partials/sidebar-page-en.njk" %}

        </div>
    </div>
  </div>
</div>