---
layout: default
permalink: /en/404/index.html
eleventyComputed:
    lang: "en"
    p_title: "404 error"
    p_description: "404 error"
---

<div class="nav-backed-header parallax stranica-banner" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/en">Home</a></li>
                <li class="active">404 error</li>
            </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Nav Backed Header --> 
<!-- Start Page Header -->
<div class="page-header">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Page not found</h1>
        </div>
    </div>
    </div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="huge">404</h1>
                    <h4>Sorry but the page you were looking isn't here. Please go back to <a href="/en">Homepage</a> and try again.</h4>
                </div>
            </div>
        </div>
    </div>
</div>