---
layout: default
p_title: Homepage
p_description: Homepage
p_id: home
---
<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="no" data-pagination="no" data-arrows="no" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(/images/banner.jpg);"></li>
  </ul>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="notice-bar">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          {% for nav in straniceen %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 1) %}
              <a href="/en/{{ nav.slug }}" class="btn btn-warning" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for nav in straniceen %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 2) %}
              <a href="/en/{{ nav.slug }}" class="btn btn-info" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Prijavite antisemitizam
        <div class="col-md-4">
          <a href="#popup-box" data-fancybox="prijava" class="btn btn-danger" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">Report antisemitism</a>
          <div id="popup-box" style="display:none;">
            <form name="antisemitizam" method="POST" action="/hr/hvala" enctype="application/x-www-form-urlencoded" netlify-honeypot="bot-fld" data-netlify="true">
              <h3>Report antisemitism</h3>
              <div class="row">
                <div class="form-group honeypot">
                    <input name="bot-fld" type="hidden" id="shoney">
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Your name *</label>
                    <input type="text" maxlength="50" class="form-control" name="name">
                  </div>
                  <div class="col-md-6">
                    <label>Your email address *</label>
                    <input type="email" maxlength="50" class="form-control" name="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <label>Report content *</label>
                    <textarea maxlength="5000" rows="10" class="form-control" name="prijava" style="height: 138px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary submit">Report antisemitism</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        -->
    </div>
  </div>
</div>
<!-- End Notice Bar --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
          <div class="listing post-listing">
          <!--<img src="/images/onama.jpg" alt="" style="margin:10px 0 30px;" class="img-thumbnail">-->
            <header class="listing-header" style="margin:0 0 20px;">
              <h2>About us</h2>
            </header>
            <section class="listing-cont" style="border-top:none;">
              <div class="col-lg-6 col-md-6 col-sm-6 inline-slika" style="padding: 0 0 17px;">
                  <img src="/images/okrausgovor140sinagoga.jpg" width="90%" alt="">
              </div>
              <p>From its foundation in 1806, the Jewish Community Zagreb has congregated and institutionally represented the Jewish community of Zagreb. At the end of 19th century it had enlarged to 3,000 members and in 1940 it had over 11,000 members; it means that Jews made over 6 % of Zagreb citizens. After several generations a legal status of civil citizenship (1873) as well as gradual social integration has been achieved. Jews have successfully integrated in all areas participating in modernization and acquiring reputation. Period between the two World Wars was a period of the Jewish Community blossoming  when it participated actively in the European and world Jewish organizations and in total prosperity of the City of Zagreb as well.</p>
              <p>The Jewish Community Zagreb had suffered enormously under the Nazi  criminal project of Jews extermination accepted by the Independent State of Croatia (1941-1945) and thus participating in Holocaust. In 1941 when racial laws were adopted, the Jewish Community Zagreb had almost 12,000 members and after the Holocaust just barely 3,000, of which almost half of them immigrated to Israel in 1950-ties. During the Ustashas regime Jewish property, both of the Community and private, had been deprived, and what little remained had been confiscated during the Socialist Republic of Yugoslavia (1945-1990). Buildings once owned by Jews today have other owners and serve for other purposes. But, in spite of these losses and also thanks to bygones, Jews have left strong and indelible imprint in Zagreb.</p>
              <p>The Jewish Community Zagreb was Ashkenazi, neolog, with a small orthodox group which in two periods had their own community (1879-1906 and 1926-1941). It accepted Sephardi from Bosnia, who also had their own community (1927-1941). Zagreb was the center of the Zionist movement. After the Holocaust, survivors began to revive the Community life bit by bit, its social and cultural institutions, gathering all: believers and atheists, traditionalists and advance guards. Until the breakup of Yugoslavia, the Jewish Community Zagreb was a member of the Federation of Jewish Communities with its registered office in Belgrade as an umbrella organization of Jewish communities.</p>
              <p>In 1992 the Zagreb Community initiated gathering of Jewish communities in Croatia and in 1995 the Coordination Committee of Jewish Communities in Croatia was founded and it has represented common interests of nine Jewish communities, promoted their autonomy and identity. Independency stimulated cultural work – publishing, forums and scientific symposia, exhibits, taking care of heritage and concerts,  social welfare and education as well.  Today's , the Zagreb Jewish Community is not large, it has about a thousand members, but it is active and vital. It represents the center of Jewish life and gathering place of Jews in Croatia. Within the given framework it maintains the tradition that was created by former generations and ancestors in more fortunate circumstances.</p>
              <br/>
              <p>prof.dr. sc. Ognjen Kraus, President of the Jewish Community Zagreb and the Coordination Committee of the Jewish Communities in the Republic of Croatia.</p>
            </section>
          </div>
          <div class="spacer-30"></div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 sidebar">

          {% include 'partials/search.njk' %}
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-povijest" style="display:block;background-color:#667885;color:#fff;" href="/images/traganja-za-proslim.pdf" target="_blank">
                <i class="fa fa-history pull-left" style="font-size:2em;"></i><span>History of ŽOZ<br><small style="font-size:85%;text-transform:none;font-weight:400">Download as PDF</small></span></a> 
            </li>
          </ul>
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-info" style="display:block" href="/images/hebcal_5782h_zagreb.pdf" target="_blank">
                <i class="fa fa-calendar pull-left" style="font-size:2em;"></i><span>Calendar 5782 (2021/22)<br><small style="font-size:85%;text-transform:none;font-weight:400">Download as PDF</small></span></a> 
            </li>
          </ul>
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
              <a class="btn btn-lg btn-blagdani" href="/images/vodic-za-ros-hasana.pdf" target="_blank">
              <i class="fa fa-bell pull-left" style="font-size:2em;"></i><span>Jewish holidays<br><small style="font-size:85%;text-transform:none;font-weight:400">Download as PDF</small></span></a> 
            </li>
          </ul>

          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Upcoming Events</h3>
            </div>
            <ul>
            {% for item in dogadjanjaen | limit(5) %}
              {% if item.naziv != "prazno" %}
                <li class="item event-item clearfix">
                  <div class="event-date"> <span class="date">{{item.datum | dateEn('dd') }}</span> <span class="month">{{item.datum | dateEn('LLL') }}</span> </div>
                  <div class="event-detail">
                    <h4><a href="/hr/najave/{{ item.slug }}" style="color: #00A1E4;">{{ item.naziv }}</a></h4>
                    <span class="event-dayntime meta-data">{{item.datum | dateEn('cccc') }}
                    
                    {%if (item.datum | dateEn('HH:mm')) != "00:00" %}
                      | {{item.datum | dateEn('HH:mm') }}h 
                    {% endif %}  
                    
                    </span>
                  </div>
                </li>
              {% else %}
                <p>Currently we don't have any upcoming events</p>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Latest news</h3>
            </div>
            <ul>

            {% for item in novostien | limit(5) %}
              {% if item.naslov != "prazno" %}
                <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                <li><a href="/en/news/{{ item.slug }}">{{ item.naslov }}</a></li>    
              {% else %}
                <p>Currently we don't have any news in English</p>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Opinions</h3>
            </div>
            <ul>
            {% for item in osvrtien | limit(5) %}
              {% if item.naslov != "prazno" %}
                <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                <li><a href="/en/opinions/{{ item.slug }}">{{ item.naslov }}</a></li>    
              {% else %}
                <p>Currently we don't have any published opinions</p>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>