---
layout: default
p_title: Homepage
p_description: Homepage
p_id: home
---
<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="no" data-pagination="no" data-arrows="no" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(/images/banner.jpg);"></li>
  </ul>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="notice-bar">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          {% for nav in straniceen %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 1) %}
              <a href="/en/{{ nav.slug }}" class="btn btn-warning" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for nav in straniceen %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 2) %}
              <a href="/en/{{ nav.slug }}" class="btn btn-info" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
<!-- End Notice Bar --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
          <div class="listing post-listing">
            <header class="listing-header">
              <h2>About ŽOZ</h2>
            </header>
            <section class="listing-cont" style="border-top:none;">
              <img src="/images/onama.jpg" alt="" style="margin:10px 0 30px;" class="img-thumbnail">
              <p>The Jewish community of Zagreb was founded in 1806, and its membership then consisted of about seventy members. Thanks to changes in society, Jews acquired civil rights which resulted in the growth and strengthening of the community.</p>
              <p>The Jewish community in Zagreb reached its heyday and culmination in economic, cultural and sociological terms between the two wars. In 1941, it had 11,000 members, whose activities were organized through numerous cultural, charitable and sports Jewish organizations. Only one quarter of Zagreb's Jews survived World War II.</p>
              <p>Today, the Jewish community of Zagreb has about 1,500 members, and continues its activities to preserve tradition, culture and identity, about which you can find out more on our website.</p>
            </section>
          </div>
          <div class="spacer-30"></div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 sidebar">

          {% include 'partials/search.njk' %}
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-info" style="display:block" href="#">
                <i class="fa fa-calendar pull-left" style="font-size:2em;"></i><span>Calendar 2021. / 5781.<br><small style="font-size:85%;text-transform:none;font-weight:400">Download as PDF</small></span></a> 
            </li>
          </ul>

          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Upcoming Events</h3>
            </div>
            <ul>
              
            {% if dogadjanjaen|length %}

            {% for item in dogadjanjaen | limit(5) %}

              <li class="item event-item clearfix">
                <div class="event-date"> <span class="date">{{item.datum | dateEn('dd') }}</span> <span class="month">{{item.datum | dateEn('LLL') }}</span> </div>
                <div class="event-detail">
                  <h4><a href="#" style="color: #0CC9E8;">{{ item.naziv }}</a></h4>
                  <span class="event-dayntime meta-data">{{item.datum | dateEn('cccc') }}
                  
                  {%if (item.datum | dateEn('HH:mm')) != "00:00" %}
                    | {{item.datum | dateEn('HH:mm') }}h 
                  {% endif %}  
                  
                  </span> </div>
              </li>
              
            {% endfor %}

            {% else %}

              <p>Currently we don't have any upcoming events</p>

            {% endif %}

            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Latest news</h3>
            </div>
            <ul>

            {% for item in novostien | limit(5) %}

              <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
              <li><a href="/en/news/{{ item.slug }}">{{ item.naslov }}</a></li>    
              
            {% endfor %}

            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Opinions</h3>
            </div>
            <ul>

            {% if osvrtien | length %}

            {% for item in osvrtien | limit(5) %}

              <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
              <li><a href="/en/opinions/{{ item.slug }}">{{ item.naslov }}</a></li>    
              
            {% endfor %}

            {% else %}

              <p>Currently we don't have any published opinions</p>

            {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>