---
layout: default
lang: hr
pagination:
  data: novostihr
  size: 1
  alias: knjiga
permalink: /hr/knjige/{{ knjiga.slug }}/index.html
eleventyComputed:
  p_title: "a"
  p_type: "knjiga"
  p_textcount: "a"
  p_tekst: "a"
  p_datum: "a"
  p_datumeventa: "a"
  p_id: "knjige"
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/hr">Početna</a></li>
            <li><a href="/hr/najave">Knjige</a></li>
            <li class="active">{{ knjiga.naziv }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ knjiga.naziv }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="post-content">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/hr/novosti/{{ item.slug }}"><img src="https://media.graphcms.com/resize=fit:clip,width:230/output=format:webp/HjNWlhfpSmy8krD9UtRH" alt="" class="img-thumbnail"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: #0CC9E8;color:#fff">
                                    <h3 class="panel-title">Detalji knjige</h3>
                                </div>
                                <div class="panel-body" style="padding: 15px 0!important;">
                                    <ul class="info-table">
                                        <li style="padding: 10px 10px!important;"><strong>Naziv knjige:</strong><span style="margin-left:20px;">{{ knjiga.naziv }}</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Autor:</strong><span style="margin-left:20px;">9789538326233</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>ISBN:</strong><span style="margin-left:20px;">Saša Cvetković</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Izdavač:</strong><span style="margin-left:20px;">Ovaj i onaj</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Jezik:</strong><span style="margin-left:20px;">Hrvatski</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Broj stranica:</strong><span style="margin-left:20px;">537</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <h2>Opis knjige</h2>
                    Nina pomaže ljudima da pronađu idealno štivo za sebe. Uparivanje čitatelja s tom jednom savršenom knjigom njezina je strast… a ujedno i posao. Ili je barem bilo tako. Do jučer je bila knjižničarka u užurbanom gradu, no sada više nema posao koji je voljela. Odlučna sebi stvoriti novi život, Nina se seli u uspavano selo udaljeno mnogo kilometara od urbane vreve. Ondje kupuje kombi i pretvara ga u bookmobile – pokretnu knjižaru koju vozi iz susjedstva u susjedstvo, mijenjajući usput živote snagom pripovijedanja.
                    
                </article>
            </div>

            {% include "partials/sidebar-page-hr.njk" %}

        </div>
    </div>
</div>