---
title: Books
description: ŽOZ books
layout: default
lang: en
pagination:
  data: knjigeen
  size: 10
  alias: knjige
permalink: "/en/books{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
  p_title: "Books"
  p_description: "ŽOZ books"
  p_id: "knjige"
---
<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="index.html">Početna</a></li>
          <li class="active">Books</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header --> 
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size:30px!important;">ŽOZ books</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9 posts-archive">

          {% for item in pagination.items %}

          {% if item.naziv != "prazno" %}

          <article class="post">
            <div class="row">
              <div class="col-md-4 col-sm-4"> <a href="/en/books/{{ item.slug }}"><img src="https://media.graphcms.com/resize=fit:clip,width:150/output=format:webp/{{ item.naslovnica.handle }}" alt="" class="img-thumbnail"></a> </div>
              <div class="col-md-8 col-sm-8">
                <h3><a href="/en/books/{{ item.slug }}">{{ item.naziv }}</a></h3>
                <span class="post-meta meta-data"> <span style="font-size:1.2em;">Author: {{ item.autor }}. {% if item.godina %}Published: {{ item.godina }}{% endif %} {% if item.isbn %}ISBN: {{ item.isbn }}.{% endif %} {% if item.cip %}CIP: {{ item.cip }}.{% endif %}</span></span>
                <p><a href="/en/books/{{ item.slug }}" class="btn btn-primary">More about this book<i class="fa fa-long-arrow-right"></i></a></p>
              </div>
            </div>
          </article>

          {% else %}

          <h4 style="margin-top:50px;">Unfortunately, we don't have any books currently listed.</h4>

          {% endif %}

          {% endfor %}

          {% include "partials/pagination.njk" %}
          
        </div>

        {% include "partials/sidebar-page-en.njk" %}

      </div>
    </div>
  </div>
</div>