---
layout: default
lang: en
pagination:
  data: knjigeen
  size: 1
  alias: knjiga
  addAllPagesToCollections: true
permalink: /en/books/{{ knjiga.slug }}/index.html
eleventyComputed:
  p_title: "{{ item.naziv }}"
  p_type: "knjiga"
  p_id: "knjiga"
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/hr">Početna</a></li>
            <li><a href="/hr/najave">Knjige</a></li>
            <li class="active">{{ knjiga.naziv }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ knjiga.naziv }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="post-content">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://media.graphcms.com/resize=fit:clip,width:230/output=format:webp/{{ knjiga.naslovnica.handle }}" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: #00A1E4;color:#fff">
                                    <h3 class="panel-title">Book details</h3>
                                </div>
                                <div class="panel-body" style="padding: 15px 0!important;">
                                    <ul class="info-table">
                                        <li style="padding: 10px 10px!important;"><strong>Title:</strong><span style="margin-left:20px;">{{ knjiga.naziv }}</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Author:</strong><span style="margin-left:20px;">{{ knjiga.autor }}</span></li>
                                        {% if knjiga.isbn %}
                                        <li style="padding: 10px 10px!important;"><strong>ISBN:</strong><span style="margin-left:20px;">{{ knjiga.isbn }}</span></li>
                                        {% endif %}
                                        {% if knjiga.cip %}
                                        <li style="padding: 10px 10px!important;"><strong>CIP:</strong><span style="margin-left:20px;">{{ knjiga.cip }}</span></li>
                                        {% endif %}
                                        <li style="padding: 10px 10px!important;"><strong>Publisher:</strong><span style="margin-left:20px;">{{ knjiga.izdavac }}</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Language:</strong><span style="margin-left:20px;">{{ knjiga.jezik }}</span></li>
                                        <li style="padding: 10px 10px!important;"><strong>Number of pages:</strong><span style="margin-left:20px;">{{ knjiga.brojStranica }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <h2>More about this book</h2>
                    {{ knjiga.opis | safe }}
                    
                </article>
            </div>

            {% include "partials/sidebar-page-en.njk" %}

        </div>
    </div>
</div>