<!doctype html>
<html class="no-js" lang="{{ lang if lang else page.fileSlug }}">
  <head>
    {% include "partials/head-default.njk" %}
    {% include "partials/head-custom.njk" %}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="body">
    {% if (page.fileSlug === "hr") or (lang === "hr") %}
      {% include "partials/header-hr.njk" %}
      {{ content | safe }}
      {% include "partials/footer-hr.njk" %}
    {% else %}
      {% include "partials/header-en.njk" %}
      {{ content | safe }}
      {% include "partials/footer-en.njk" %}
    {% endif %}
      

    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <script src="/js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call --> 
    <script src="/plugins/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin --> 
    <script src="/js/helper-plugins.js"></script> <!-- Plugins --> 
    <script src="/js/bootstrap.js"></script> <!-- UI --> 
    <script src="/js/waypoints.js"></script> <!-- Waypoints --> 
    <script src="/plugins/mediaelement/mediaelement-and-player.min.js"></script> <!-- MediaElements --> 
    <script src="/js/init.js"></script> <!-- All Scripts --> 
    <script src="/plugins/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider --> 
    <script src="/plugins/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer -->

    // fetch lang
    <script>
    $( document ).ready(function() {
    var pathArray = window.location.pathname.split('/');
    var lang = pathArray[1];
    console.log('Lang:'+lang);
    });
    </script>

  </body>
</html>