---
layout: default
permalink: /hr/404/index.html
eleventyComputed:
    lang: "hr"
    p_title: "404 greška"
    p_description: "404 greška"
---

<div class="nav-backed-header parallax stranica-banner" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/hr">Početna</a></li>
                <li class="active">404 greška</li>
            </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Nav Backed Header --> 
<!-- Start Page Header -->
<div class="page-header">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Stranica nije pronađena</h1>
        </div>
    </div>
    </div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="huge">404</h1>
                    <h4>Žao nam je što stranica koju ste tražili ne postoji. Vratite se na <a href="/hr">Početnu stranicu</a> i pokušajte ponovo.</h4>
                </div>
            </div>
        </div>
    </div>
</div>