---
layout: default
p_title: Početna stranica
p_description: Početna stranica
p_id: home
---
<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="no" data-pagination="no" data-arrows="no" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(/images/banner.jpg);"></li>
  </ul>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="notice-bar">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          {% for nav in stranicehr %}
            {% if (nav.navigacija === "sigurnost") and (nav.red === 1) %}
              <a href="/hr/{{ nav.slug }}" class="btn btn-warning" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for nav in stranicehr %}
            {% if (nav.navigacija === "sigurnost") and (nav.red === 2) %}
              <a href="/hr/{{ nav.slug }}" class="btn btn-info" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
<!-- End Notice Bar --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Latest News -->
          <div class="listing post-listing">
            <header class="listing-header">
              <h2>Najnovije vijesti</h2>
            </header>
            <section class="listing-cont">
              <ul>

                {% for item in novostihr | limit(5) %}

                <li class="item post" {% if loop.last %} style="border-bottom:none;" {% endif %}>
                  <div class="row">
                    <div class="col-md-4"><a href="/hr/novosti/{{ item.slug }}" class="media-box"> <img src="https://media.graphcms.com/resize=fit:clip,width:218,height:145/output=format:webp/{{ item.foto.handle }}" alt="" class="img-thumbnail"> </a></div>
                    <div class="col-md-8">
                      <div class="post-title">
                        <h2><a href="/hr/novosti/{{ item.slug }}">{{ item.naslov }}</a></h2>
                        <span class="meta-data" style="font-size: 1em;"><i class="fa fa-calendar"></i> {{item.datum | dateHr }}</span></div>
                      <p>{{ item.isjecak }}</p>
                    </div>
                  </div>
                </li>
                  
                {% endfor %}

              </ul>
            </section>
          </div>
          <div class="spacer-30"></div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 sidebar">

          {% include 'partials/search.njk' %}
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-info" style="display:block" href="#">
                <i class="fa fa-calendar pull-left" style="font-size:2em;"></i><span>Kalendar 2021. / 5781.<br><small style="font-size:85%;text-transform:none;font-weight:400">Preuzmite u PDF formatu</small></span></a> 
            </li>
        </ul>
        
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Najave događanja</h3>
            </div>
            <ul>

            {% if dogadjanjahr|length %}

            {% for item in dogadjanjahr | limit(5) %}

              <li class="item event-item clearfix">
                <div class="event-date"> <span class="date">{{item.datum | dateHr('dd') }}</span> <span class="month">{{item.datum | dateHr('LLL') }}</span> </div>
                <div class="event-detail">
                  <h4><a href="/hr/najave/{{ item.slug }}" style="color: #0CC9E8;">{{ item.naziv }}</a></h4>
                  <span class="event-dayntime meta-data">{{item.datum | dateHr('cccc') }}
                  
                  {%if (item.datum | dateHr('HH:mm')) != "00:00" %}
                    | {{item.datum | dateHr('HH:mm') }}h 
                  {% endif %}  
                  
                  </span>
                </div>
              </li>
              
            {% endfor %}

            {% else %}

              <p>Na žalost trenutno nemamo najavljenih događanja</p>

            {% endif %}

            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Osvrti</h3>
            </div>
            <ul>

            {% if osvrtihr | length %}

            {% for item in osvrtihr | limit(5) %}

               <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                <li><a href="/hr/osvrti/{{ item.slug }}"><strong>{{ item.naslov }}</strong></a></li>    
              
            {% endfor %}

            {% else %}

              <p>Na žalost trenutno nemamo osvrta</p>

            {% endif %}

            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <header class="listing-header">
          <h2>O nama</h2>
        </header>
        <div class="listing single-cause-teaser">
            <section class="listing-cont cause-item">
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3">
                      <img src="/images/aboutus.jpg" alt="" style="padding-bottom:20px;">
                  </div>
                  <div class="col-md-9">
                      <p>Židovska općina Zagreb osnovana je 1806. godine, a njezino članstvo se tada sastojalo od sedamdesetak članova. Zahvaljujući promjenama u društvu Židovi su stjecali građanska prava što je rezultiralo rastom i jačanjem zajednice.</p>
                      <p>Svoj procvat i kulminaciju u gospodarskom, kulturološkom i sociološkom smislu Židovska zajednica u Zagrebu postigla je između dva rata. Godine 1941. brojala je 11.000 članova, čije je djelovanje bilo organizirano kroz brojne kulturološke, karitativne i sportske židovske organizacije. Drugi svjetski rat preživjela je samo jedna četvrtina zagrebačkih Židova.</p>
                      <p>Danas Židovska općina Zagreb broji oko 1500 članova, te nastavlja djelatnosti na očuvanju tradicije, kulture i identiteta, o čemu više možete saznati na našim stranicama.</p>
                      <h3>Povijest</h3>
                      <p>Židovska općina Zagreb osnovana je 1806. godine, a njezino članstvo se tada sastojalo od sedamdesetak članova. Zahvaljujući promjenama u društvu Židovi su stjecali građanska prava što je rezultiralo rastom i jačanjem zajednice.</p>
                      <p>Svoj procvat i kulminaciju u gospodarskom, kulturološkom i sociološkom smislu Židovska zajednica u Zagrebu postigla je između dva rata. Godine 1941. brojala je 11.000 članova, čije je djelovanje bilo organizirano kroz brojne kulturološke, karitativne i sportske židovske organizacije. Drugi svjetski rat preživjela je samo jedna četvrtina zagrebačkih Židova.</p>
                      <p>Danas Židovska općina Zagreb broji oko 1500 članova, te nastavlja djelatnosti na očuvanju tradicije, kulture i identiteta, o čemu više možete saznati na našim stranicama.</p>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>