---
layout: default
p_title: Početna stranica
p_description: Početna stranica
p_id: home
---
<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="no" data-pagination="no" data-arrows="no" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class=" parallax" style="background-image:url(/images/banner-test.jpg);"></li>
  </ul>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="notice-bar">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          {% for nav in stranicehr %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 1) %}
              <a href="/hr/{{ nav.slug }}" class="btn btn-warning" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for nav in stranicehr %}
            {% if (nav.navigacija === "Sigurnost") and (nav.red === 2) %}
              <a href="/hr/{{ nav.slug }}" class="btn btn-info" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">{{ nav.naslov }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Prijavite antisemitizam
        <div class="col-md-4">
          <a href="#popup-box" data-fancybox="prijava" class="btn btn-danger" type="button" style="margin-left:auto;margin-right:auto;display:block;width: 250px;">Prijavite antisemitizam</a>
          <div id="popup-box" style="display:none;">
            <form name="antisemitizam" method="POST" action="/hr/hvala" enctype="application/x-www-form-urlencoded" netlify-honeypot="bot-fld" data-netlify="true">
              <h3>Prijavite antisemitizam</h3>
              <div class="row">
                <div class="form-group honeypot">
                    <input name="bot-fld" type="hidden" id="shoney">
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Vaše ime *</label>
                    <input type="text" maxlength="50" class="form-control" name="name">
                  </div>
                  <div class="col-md-6">
                    <label>Vaša email adresa *</label>
                    <input type="email" maxlength="50" class="form-control" name="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <label>Sadržaj prijave *</label>
                    <textarea maxlength="5000" rows="10" class="form-control" name="prijava" style="height: 138px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary submit">Prijavi antisemitizam</button>
                </div>
              </div>
            </form>
        </div>
        </div>
        -->
    </div>
  </div>
</div>
<!-- End Notice Bar --> 
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        
          <div class="listing post-listing">
          <!--<img src="/images/onama.jpg" alt="" style="margin:10px 0 30px;" class="img-thumbnail">-->
            <header class="listing-header" style="margin:0 0 20px;">
              <h2>O nama</h2>
            </header>
            <section class="listing-cont" style="border-top:none;">
              <div class="col-lg-6 col-md-6 col-sm-6 inline-slika" style="padding: 0 0 17px;">
                  <img src="/images/okrausgovor140sinagoga.jpg" width="90%" alt="">
              </div>
              <p><strong>Židovska općina Zagreb</strong> od svojega osnutka, 1806. godine, okuplja i institucionalno predstavlja židovsku zajednicu Zagreba. Do  kraja 19. stoljeća narasla je do 3.000 pripadnika, a do 1940. na više od 11.000, što znači da su Židovi činili nešto više od 6 % gradskog stanovništva. Trebalo je nekoliko generacija do zakonskog stjecanja građanske ravnopravnosti (1873.) i postupne socijalne integracije. Židovi se uspješno uključuju u sva područja života, daju svoj udio u modernizaciji i stječu ugled. Razdoblje između dva svjetska rata doba je punog cvata židovske općine, kad aktivno sudjeluje u europskim i svjetskim židovskim organizacijama, ali i u ukupnom prosperitetu grada Zagreba.<p>
              <p>U zločinačkom nacističkom projektu uništenja svih Židova koji je prihvatila ustaška Nezavisna država Hrvatska (1941.-1945.) i time dala svoj udio u Holokaustu, zagrebačka židovska zajednica teško je stradala. Do 1941. i donošenja rasnih zakona brojila je gotovo 12.000 pripadnika, a poslije Holokausta jedva 3.000, od čega se polovica 1950-ih godina iselila u Izrael. Židovska imovina, općinska i privatna, oduzeta je u doba ustaškog režima, a ono malo što je preostalo oduzeto je u doba Socijalističke Republike Jugoslavije (1945.-1990.). Nekoć židovske zgrade, danas imaju druge vlasnike, a i namjene. No unatoč gubicima, pa i zaboravu, Židovi su u Zagrebu ostavili snažan i neizbrisiv trag.<p>
              <p>Židovska općina Zagreba bila je aškenaška, neološka, s malom ortodoksnom manjinom koje je u dva navrata imala vlastitu općinu (1879.-1906. i 1926.-1941.). Prihvaćala je Sefarde iz Bosne koji se također imali vlastitu općinu (1927.-1941.). Zagreb je bio i središte cionističkog pokreta. Poslije Holokausta preživjeli su pomalo obnavljali život općine, njezine socijalne i kulturne institucije, okupljajući sve: vjernike i ateiste, tradicionaliste i avangardiste. Do rasapa Jugoslavije bila je članicom Saveza jevrejskih općina sa sjedištem u Beogradu, krovne organizacije židovskih općina.</p>
              <p>Već 1992. zagrebačka općina inicirala je okupljanje židovskih općina u Hrvatskoj, a 1995. osnovana je Koordinacija općina koja zastupa zajedničke interese devet općina, unapređuje njihovu autonomnost i identitet. Osamostaljenje je potaknulo kulturni rad – izdavaštvo, tribine i znanstvene simpozije, izložbe, brigu za baštinu i koncerte, ali i socijalnu skrb i edukaciju. Današnja zagrebačka Židovska općina nije velika, ima otprilike tisuću članova, ali je aktivna i vitalna. Središte je židovskog života i mjesto okupljanja Židova u Hrvatskoj. U datim okvirima održava tradiciju koju su u sretnijim okolnostima stvarale pređašnje generacije i pređi.</p>
              <br/>
              <p>prof.dr. sc. Ognjen Kraus, predsjednik Židovske općine Zagreb i Koordinacije židovskih općina u Republici Hrvatskoj</p>
            </section>
          </div>
          <div class="spacer-30"></div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-4 sidebar">

          {% include 'partials/search.njk' %}
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-povijest" style="display:block;background-color:#667885;color:#fff;" href="/images/traganja-za-proslim.pdf" target="_blank">
                <i class="fa fa-history pull-left" style="font-size:2em;"></i><span>Povijest ŽOZ-a<br><small style="font-size:85%;text-transform:none;font-weight:400">Preuzmite u PDF formatu</small></span></a> 
            </li>
          </ul>
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
                <a class="btn btn-lg btn-info" style="display:block" href="/images/hebcal_5782h_zagreb.pdf" target="_blank">
                <i class="fa fa-calendar pull-left" style="font-size:2em;"></i><span>Kalendar 5782 (2021/22)<br><small style="font-size:85%;text-transform:none;font-weight:400">Preuzmite u PDF formatu</small></span></a> 
            </li>
          </ul>
          <ul class="ds-btn" style="margin-bottom:30px;">
            <li>
              <a class="btn btn-lg btn-blagdani" href="/images/vodic-za-ros-hasana.pdf" target="_blank">
              <i class="fa fa-bell pull-left" style="font-size:2em;"></i><span>Židovski blagdani<br><small style="font-size:85%;text-transform:none;font-weight:400">Preuzmite u PDF formatu</small></span></a> 
            </li>
          </ul>
        
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Najave događanja</h3>
            </div>
            <ul>
            {% for item in dogadjanjahr | limit(5) %}
              {% if item.naziv != "prazno" %}
                <li class="item event-item clearfix">
                  <div class="event-date"> <span class="date">{{item.datum | dateHr('dd') }}</span> <span class="month">{{item.datum | dateHr('LLL') }}</span> </div>
                  <div class="event-detail">
                    <h4><a href="/hr/najave/{{ item.slug }}" style="color: #00A1E4;">{{ item.naziv }}</a></h4>
                    <span class="event-dayntime meta-data">{{item.datum | dateHr('cccc') }}
                    
                    {%if (item.datum | dateHr('HH:mm')) != "00:00" %}
                      | {{item.datum | dateHr('HH:mm') }}h 
                    {% endif %}  
                    
                    </span>
                  </div>
                </li>
              {% else %}
                <p>Trenutno nemamo događanja u najavi</p>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Novosti</h3>
            </div>
            <ul>

            {% for item in novostihr | limit(5) %}

              <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
              <li><a href="/hr/novosti/{{ item.slug }}">{{ item.naslov }}</a></li>    
              
            {% endfor %}

            </ul>
          </div>
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Osvrti</h3>
            </div>
            <ul>
            {% for item in osvrtihr | limit(5) %}
              {% if item.naslov != "prazno" %}
              <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
              <li><a href="/hr/osvrti/{{ item.slug }}">{{ item.naslov }}</a></li>    
              {% else %}
                <p>Trenutno nemamo objavljenih osvrta</p>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>