---
title: Recepti
description: Recepti
layout: default
lang: hr
pagination:
  data: receptihr
  size: 10
permalink: "/hr/recepti{% if pagination.pageNumber > 0 %}/stranica/{{ pagination.pageNumber + 1}}{% endif %}/index.html"
eleventyComputed:
  p_title: "Židovski recepti"
  p_description: "Židovski recepti"
  p_id: "recept"
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="/hr">Početna</a></li>
					<li class="active">Recepti</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Start Page Header -->
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-10 col-xs-8">
				<h1 style="font-size:30px!important;">Recepti</h1>
			</div>
		</div>
	</div>
</div>

{% include "partials/lista-recepata-hr.njk" %}