---
layout: default
lang: hr
permalink: /hr/recept/index.html
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="/hr">Početna</a></li>
					<li class="active">Recepti</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Start Page Header -->
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-10 col-xs-8">
				<h1 style="font-size:30px!important;">Recepti</h1>
			</div>
		</div>
	</div>
</div>
<!-- Start Content -->
<div class="main" role="main">
	<div id="content" class="content full">
		<div class="container">
			<div class="row">
				<div class="col-md-9 posts-archive causes-archive">
					<article class="post cause-item">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<a href="single-cause.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"></a>
								<div class="progress-label">
									<label class="cause-days-togo label label-default pull-right" style="display: inline;padding: .6em .6em .6em;font-size: 85%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;background-color:#00A1E4;">TAG 1</label>
								</div>
								<div class="progress" style="background:none!important;">
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<h3><a href="single-cause.html">Prženi vidrini nosići</a></h3>
								<hr>
								<p style="padding-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam...</p>
							</div>
						</div>
					</article>
					<article class="post cause-item">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<a href="single-cause.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"></a>
								<div class="progress" style="background:none!important;">
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<h3><a href="single-cause.html">Škampi u somunu sa lukom i senfom</a></h3>
								<hr>
								<p style="padding-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam...</p>
							</div>
						</div>
					</article>
					<article class="post cause-item">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<a href="single-cause.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"></a>
								<div class="progress-label">
									<label class="cause-days-togo label label-default pull-right" style="display: inline;padding: .6em .6em .6em;font-size: 85%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;background-color:#00A1E4;">TAG 2</label>
								</div>
								<div class="progress" style="background:none!important;">
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<h3><a href="single-cause.html">Nešto jestivo</a></h3>
								<hr>
								<p style="padding-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam...</p>
							</div>
						</div>
					</article>
				</div>
				<!-- Start Sidebar -->
				<div class="col-md-3 sidebar">
					<div class="widget sidebar-widget search-form-widget">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Search Posts...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
							</span> </div>
					</div>
					<div class="widget sidebar-widget">
						<div class="sidebar-widget-title">
							<h3>Tagovi</h3>
						</div>
						<div class="tag-cloud"> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>