---
layout: default
pagination:
  data: straniceen
  size: 1
  alias: stranica
permalink: /{{ stranica.lang }}/{{ stranica.slug }}/index.html
eleventyComputed:
    lang: "{{ stranica.lang }}"
---
{% if stranica.banner %}
    <div class="nav-backed-header parallax" style="background-image:url({{ stranica.banner.handle }});">
{% else %}
    <div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
{% endif %}
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/en">Home</a></li>
            <li class="active">{{ stranica.naslov }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ stranica.naslov }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
<div id="content" class="content full">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ stranica.sadrzaj | safe }}
        </div>
    </div>
    </div>
</div>
</div>