<!-- Start Footer -->
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="copyrights-col-left col-md-6 col-sm-6">
          <p>&copy; 2021 Židovska općina Zagreb. A "serverless" website, developed by <a href="https://staticweb.dev/" target="_blank" rel="noopener">Staticweb</a></p>
        </div>
        <div class="copyrights-col-right col-md-6 col-sm-6">
          <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
            <li style="float:right;"><a href="/en/feed.xml" style="display: block;text-align: center;padding: 0 16px;text-decoration: none;"><img src="/images/rss-icon.png" border="0" width="16" height="16"> RSS feed</a></li>
            <li style="float:right;"><a href="/hr/politika-zastite-osobnih-podataka" style="display: block;text-align: center;padding: 0 16px;text-decoration: none;">Privacy policy</a></li>
            <li style="float:right;"><a href="/hr/uvjeti-koristenja" style="display: block;text-align: center;padding: 0 16px;text-decoration: none;">Terms and conditions</a></li>
          </ul>    
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer --> 