<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-8">
          <h1 class="logo"> <a href="index.html"><img src="/images/logo.jpg" alt="Logo"></a> </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
          <ul class="top-navigation">
            <li><a href="/hr" style="color: #0CC9E8;">HR</a></li>
            <li><a href="/en">EN</a></li>
          </ul>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul class="sf-menu">
              <li>
                <a href="/hr">Početna</a>
              </li>
              {% for nav in stranicehr %}
                {% if (nav.navigacija === "o_nama") and (nav.red === 1) %}
                  <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                {% endif %}
              {% endfor%}
              <li><a href="#" class="sf-with-ul">Ustanove</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "ustanove" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                  <li><a href="#" class="sf-with-ul">Udruge kojima je Osnivač ili suosnivač ŽOZ</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "ustanove_2" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Partnerske udruge i organizacije</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "ustanove_3" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktualnosti</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="/hr/novosti">Novosti</a></li>
                  <li><a href="/hr/najave">Najave događanja</a></li>
                  <li><a href="/hr/osvrti">Osvrti</a></li>
                  <li><a href="#" class="sf-with-ul">Publikacije</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="/hr/publikacije/ha-kol">Ha-kol</a></li>
                      <li><a href="/hr/publikacije/novi-omanut">Novi Omanut</a></li>
                      <li><a href="/hr/publikacije/hadason">Hadašon</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Židovstvo</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "zidovstvo" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                  <li><a href="#" class="sf-with-ul">Baština</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="/hr/kultura">Kultura</a></li>
                      <li><a href="/hr/tradicija">Tradicija</a></li>
                      <li><a href="/hr/pjesme-i-plesovi">Pjesme i plesovi</a></li>
                      <li><a href="/hr/kuhinja">Kuhinja</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktivnosti i programi</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "aktivnosti" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                </ul>
              </li>
              {% for nav in stranicehr %}
                {% if (nav.navigacija === "kontakti") and (nav.red === 1) %}
                  <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Site Header --> 