<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-8">
          <h1 class="logo"> <a href="/en"><img src="/images/logotip.png" alt="Logo"></a> </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
          <ul class="top-navigation">
            <li><a href="/hr">HR</a></li>
            <li><a href="/en" style="color: #00A1E4;">EN</a></li>
          </ul>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
             <ul class="sf-menu">
              <li><a href="/en">Home</a></li>
              <li><a href="#" class="sf-with-ul">About us</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="#" class="sf-with-ul">Institutions</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "ONamaUstanove" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Associations founded or co-founded by ŽOZ</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "ONamaUdruge" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Partner associations</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "ONamaPartneri" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  {% for nav in straniceen %}
                    {% if nav.navigacija === "ONama" %}
                      <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Current events</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="/en/news">News</a></li>
                  <li><a href="/en/events">Events</a></li>
                  <li><a href="/en/opinions">Opinions</a></li>
                  <li><a href="/en/from-other-communities">From other communities</a></li>
                </ul>
              </li>
              <li><a href="/en/books">Books</a></li>
              <li><a href="#" class="sf-with-ul">Judaism</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in straniceen %}
                    {% if nav.navigacija === "Zidovstvo" %}
                      <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Activities & Programs</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in straniceen %}
                    {% if nav.navigacija === "Aktivnosti" %}
                      <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                  <li><a href="#" class="sf-with-ul">Education</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "AktivnostiEdukacija" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Culture</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "AktivnostiKultura" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Tradition</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in straniceen %}
                        {% if nav.navigacija === "AktivnostiTradicija" %}
                          <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Contact us</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in straniceen %}
                    {% if nav.navigacija === "Kontakti" %}
                      <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="modal fade" id="ured" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">JCZ office</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="socijalna" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Social care</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="knjigovodstvo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Accounting</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Site Header --> 