<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-8">
          <h1 class="logo"> <a href="index.html"><img src="/images/logo.jpg" alt="Logo"></a> </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
          <ul class="top-navigation hidden-sm hidden-xs">
            <li><a href="/hr">HR</a></li>
            <li><a href="/en" style="color: #0CC9E8;">EN</a></li>
          </ul>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul class="sf-menu">
              <li>
                <a href="/en">Homepage</a>
              </li>
              <li><a href="#">Current events</a>
                <ul class="dropdown">
                  <li><a href="/en/news">News</a></li>
                  <li><a href="/en/events">Events</a></li>
                  <li><a href="/en/reviews">Reviews</a></li>
                </ul>
              </li>
              <li><a href="#">Publications</a>
                <ul class="dropdown">
                  <li><a href="/en/publications/ha-kol">Ha-kol</a></li>
                  <li><a href="/en/novi-omanut">Novi Omanut</a></li>
                  <li><a href="/en/hada">Hada</a></li>
                </ul>
              </li>
              <li><a href="#">Heritage</a>
                <ul class="dropdown">
                  <li><a href="/en/culture">Culture</a></li>
                  <li><a href="/en/tradition">Tradition</a></li>
                  <li><a href="/en/songs-and-dance">Songs and dance</a></li>
                  <li><a href="/en/cuisine">Cuisine</a></li>
                </ul>
              </li>
              <li class="megamenu"><a href="#">About us</a>
                <ul class="dropdown">
                  <li>
                    <div class="megamenu-container container">
                      <div class="row">
                        <div class="col-md-3"> <span class="megamenu-sub-title"> Institutions & Associations</span>
                          <ul class="sub-menu">
                            {% for nav in straniceen %}
                              {% if nav.navigacija === "ustanove_i_udruge" %}
                                <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>    
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="col-md-3"> <span class="megamenu-sub-title"> Activities and programmes</span>
                          <ul class="sub-menu">
                            {% for nav in straniceen %}
                              {% if nav.navigacija === "aktivnosti_i_programi" %}
                                <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>    
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="col-md-3"> <span class="megamenu-sub-title"> Judaism</span>
                          <ul class="sub-menu">
                            {% for nav in straniceen %}
                              {% if nav.navigacija === "zidovstvo" %}
                                <li><a href="/en/{{ nav.slug }}">{{ nav.naslov }}</a></li>    
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="col-md-3"> <span class="megamenu-sub-title"> Contacts</span>
                          <ul class="sub-menu">
                            <li><a data-toggle="modal" data-target="#ured">ŽOZ office</a></li>
                            <li><a data-toggle="modal" data-target="#socijalna">Social care</a></li>
                            <li><a data-toggle="modal" data-target="#knjigovodstvo">Accounting</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="modal fade" id="ured" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">ŽOZ office</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="socijalna" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Social care</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="knjigovodstvo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Accounting</h4>
      </div>
      <div class="modal-body">
        <p>Address ... <br/>
        Phone ... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default inverted" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Site Header --> 