<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-8">
          <h1 class="logo"> <a href="/hr"><img src="/images/logo.jpg" alt="Logo"></a> </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
          <ul class="top-navigation">
            <li><a href="/hr" style="color: #0CC9E8;">HR</a></li>
            <li><a href="/en">EN</a></li>
          </ul>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul class="sf-menu">
              <li>
                <a href="/hr">Početna</a>
              </li>
              <li><a href="#" class="sf-with-ul">O nama</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="#" class="sf-with-ul">Ustanove i institucije</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "ONamaUstanove" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Udruge kojima je Osnivač ili suosnivač ŽOZ</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "ONamaUdruge" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Partnerske udruge i organizacije</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "ONamaPartneri" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktualno</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="/hr/novosti">Novosti</a></li>
                  <li><a href="/hr/najave">Najave događanja</a></li>
                  <li><a href="/hr/osvrti">Osvrti</a></li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Izdavaštvo</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="/hr/ha-kol">Ha-Kol</a></li>
                  <li><a href="/hr/novi-omanut">Novi Omanut</a></li>
                  <li><a href="/hr/hadason">Hadašon</a></li>
                  <li><a href="/hr/knjige">Knjige</a></li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Židovstvo</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "Zidovstvo" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                  <li><a href="/hr/iz-rabinovog-pera">Iz rabinovog pera</a></li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktivnosti i programi</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "Aktivnosti" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                  <li><a href="#" class="sf-with-ul">Edukacija</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "AktivnostiEdukacija" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Kultura</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "AktivnostiKultura" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Tradicija</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      {% for nav in stranicehr %}
                        {% if nav.navigacija === "AktivnostiTradicija" %}
                          <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                        {% endif %}
                      {% endfor%}
                    </ul>
                  </li>
                  <li><a href="#" class="sf-with-ul">Baština</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="/hr/folklor">Folklor</a></li>
                      <li><a href="/hr/kuhinja">Kuhinja</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Kontakti</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  {% for nav in stranicehr %}
                    {% if nav.navigacija === "Kontakti" %}
                      <li><a href="/hr/{{ nav.slug }}">{{ nav.naslov }}</a></li>
                    {% endif %}
                  {% endfor%}
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Site Header --> 