<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-8">
          <h1 class="logo"> <a href="index.html"><img src="/images/logo.jpg" alt="Logo"></a> </h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
          <ul class="top-navigation hidden-sm hidden-xs">
            <li><a href="/hr" style="color: #0CC9E8;">HR</a></li>
            <li><a href="/en">EN</a></li>
          </ul>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul class="sf-menu">
              <li>
                <a href="/hr">Početna</a>
              </li>
              <li>
                <a href="/hr/zidovska-opcina-zagreb">O nama</a>
              </li>
              <li><a href="#" class="sf-with-ul">Ustanove</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="gallery-masonry.html">Dječji vrtić "Mirjam Weiller"</a></li>
                  <li><a href="gallery-masonry.html">Dom zaklade "Lavoslav Schwarz"</a></li>
                  <li><a href="gallery-masonry.html">Odmaralište Pirovac</a></li>
                  <li><a href="gallery-2cols-pagination.html" class="sf-with-ul">Udruge kojima je Osnivač ili suosnivač ŽOZ</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="gallery-2cols-pagination.html">Kulturno društvo "Mirosalv Šalom Freiberger"</a></li>
                      <li><a href="gallery-3cols-pagination.html">CENDO - Istraživački i dokumentacijski centar</a></li>
                      <li><a href="gallery-4cols-pagination.html">Udruga preživjelih Holokausta</a></li>
                      <li><a href="gallery-4cols-pagination.html">Bnai Brith loža Gavro Schwarz</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktualnosti</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="gallery-masonry.html">Novosti</a></li>
                  <li><a href="gallery-masonry.html">Najave događanja</a></li>
                  <li><a href="gallery-masonry.html">Osvrti</a></li>
                  <li><a href="gallery-2cols-pagination.html" class="sf-with-ul">Publikacije</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="gallery-2cols-pagination.html">Ha-kol</a></li>
                      <li><a href="gallery-3cols-pagination.html">Novi Omanut</a></li>
                      <li><a href="gallery-4cols-pagination.html">Hada</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Židovstvo</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="gallery-masonry.html">Židovski ciklus</a></li>
                  <li><a href="gallery-masonry.html">Bar i Bat Micva</a></li>
                  <li><a href="gallery-masonry.html">Šabat</a></li>
                  <li><a href="gallery-masonry.html">Blagdani</a></li>
                  <li><a href="gallery-masonry.html">Kašrut</a></li>
                  <li><a href="gallery-masonry.html">Dostupni Košer proizvodi u RH</a></li>
                  <li><a href="gallery-2cols-pagination.html" class="sf-with-ul">Baština</a>
                    <ul class="dropdown" style="display: none; left: -40px;">
                      <li><a href="gallery-2cols-pagination.html">Kultura</a></li>
                      <li><a href="gallery-3cols-pagination.html">Tradicija</a></li>
                      <li><a href="gallery-4cols-pagination.html">Pjesme i plesovi</a></li>
                      <li><a href="gallery-4cols-pagination.html">Kuhinja</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="sf-with-ul">Aktivnosti i programi</a>
                <ul class="dropdown" style="display: none; left: -40px;">
                  <li><a href="gallery-masonry.html">Djeca</a></li>
                  <li><a href="gallery-masonry.html">Omladina</a></li>
                  <li><a href="gallery-masonry.html">Seniori</a></li>
                  <li><a href="gallery-masonry.html">Edukacije</a></li>
                  <li><a href="gallery-masonry.html">Kultura</a></li>
                </ul>
              </li>
              <li>
                <a href="/hr/kontakti">Kontakti</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Site Header --> 