{% if (stranica.navigacija === "Zidovstvo") or (p_id === "pero") or (p_id === "pera") %}

    {% if svijece[0].petak %}
        
    <header class="listing-header" style="margin-top:30px;">
        <h4>Paljenje svijeća</h4>
    </header>      
    <ul>
        <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4"><i class="fa fa-calendar"></i>Petak {{ svijece[0].petak | dateHr }}</span>
        <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i>Shishi {{ svijece[0].petakhebrew  }}</span>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">PlagHaminha: {{ svijece[0].plaghaminha }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Paljenje šabatnih svijeća: {{ svijece[0].paljenje }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Zalazak sunca: {{ svijece[0].zalazak }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: none;">Početak Šabata: {{ svijece[0].pocetak }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">{{ svijece[0].sluzba }}</li>
        <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i>Subota {{ svijece[0].sabat | dateHr }}</span>
        <span class="meta-data" style="margin: 5px 0 0 0;color:#00A1E4;"><i class="fa fa-calendar"></i>Shabbat {{ svijece[0].sabathebrew }}</span>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Paljenje šabatnih svijeća: {{ svijece[0].paljenje }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Paraša: {{ svijece[0].parasa }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Haftara: {{ svijece[0].haftara }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Izreke otaca: {{ svijece[0].paljenje }}</li>
        <li style="margin-top:10px;padding-bottom:5px;border-bottom: 1px solid #eceae4;">Završetak Šabata: {{ svijece[0].zavrsetak }}</li>
    </ul>    

    {% endif %}

{% endif %}