{% if (page.fileSlug === "en") or (lang === "en") %}

<div class="widget sidebar-widget search-form-widget">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search zoz.hr" id="searchInput" name="s" value="" autocomplete="off" onkeypress="return 13!=event.keyCode">
    </div>
</div>

{% else %}

<div class="widget sidebar-widget search-form-widget">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Pretražite zoz.hr" id="searchInput" name="s" value="" autocomplete="off" onkeypress="return 13!=event.keyCode">
    </div>
</div>

{% endif %}