{% if (page.fileSlug === "en") or (lang === "en") %}

<form class="navbar-form" id="searchbox" method="get" action="#" style="padding:0;">
    <div class="widget sidebar-widget search-form-widget">
        <div class="input-group input-group-lg" style="display:block;">
            <input type="text" class="form-control" placeholder="&#128269;  Search zoz.hr" onfocus="this.placeholder=''" onblur="this.placeholder='&#128269;  Search zoz.hr'" id="searchInput" name="s" value="" autocomplete="off" onkeypress="return 13!=event.keyCode">
        </div>
    </div>    
</form>
<div class="header_search">
    <div class="header_search_content" id="hsc">
        <p id="novostibanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">NEWS</p>
        <ul id="suggNovosti"></ul>
        <p id="najavebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">EVENTS</p>
        <ul id="suggNajave"></ul>
        <p id="osvrtibanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">OPINIONS</p>
        <ul id="suggOsvrti"></ul>
        <p id="knjigebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">BOOKS</p>
        <ul id="suggKnjige"></ul>
    </div>
</div>

{% else %}

<form class="navbar-form" id="searchbox" method="get" action="#" style="padding:0;">
    <div class="widget sidebar-widget search-form-widget">
        <div class="input-group input-group-lg" style="display:block;">
            <input type="text" class="form-control" placeholder="&#128269;  Pretražite zoz.hr" onfocus="this.placeholder=''" onblur="this.placeholder='&#128269;  Pretražite zoz.hr'" id="searchInput" name="s" value="" autocomplete="off" onkeypress="return 13!=event.keyCode">
        </div>
    </div>    
</form>
<div class="header_search">
    <div class="header_search_content" id="hsc">
        <p id="novostibanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">NOVOSTI</p>
        <ul id="suggNovosti"></ul>
        <p id="najavebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">NAJAVE</p>
        <ul id="suggNajave"></ul>
        <p id="osvrtibanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">OSVRTI</p>
        <ul id="suggOsvrti"></ul>
        <p id="knjigebanner" style="width:100%;text-align:center;display:none;border-bottom:1px solid #eea236;">KNJIGE</p>
        <ul id="suggKnjige"></ul>
    </div>
</div>

{% endif %}