 <!-- Start Sidebar -->
<div class="col-md-3 sidebar">

    <div class="widget sidebar-widget search-form-widget">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Pretražite zoz.hr" id="searchInput" name="s" value="" autocomplete="off" onkeypress="return 13!=event.keyCode">
        </div>
    </div>

    {% if p_id === "najava" %}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnje novosti</h3>
            </div>
            <ul>
                {% for item in novostihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/novosti/{{ item.slug }}">{{ item.naslov }}</a></li>    
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnji osvrti</h3>
            </div>
            <ul>
                {% for item in osvrtihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/osvrti/{{ item.slug }}">{{ item.naslov }}</a></li>    
                {% endfor %}
            </ul>
        </div>

    {% elseif p_id === "novost" %}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Nadolazeći događaji</h3>
            </div>
            <ul>
                {% for item in dogadjanjahr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/najave/{{ item.slug }}">{{ item.naziv }}</a></li>    
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnji osvrti</h3>
            </div>
            <ul>
                {% for item in osvrtihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/osvrti/{{ item.slug }}">{{ item.naslov }}</a></li>    
                {% endfor %}
            </ul>
        </div>

    {% elseif p_id === "osvrt" %}
        
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Nadolazeći događaji</h3>
            </div>
            <ul>
                {% for item in dogadjanjahr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/najave/{{ item.slug }}">{{ item.naziv }}</a></li>    
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnje novosti</h3>
            </div>
            <ul>
                {% for item in novostihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/novosti/{{ item.slug }}">{{ item.naslov }}</a></li>    
                {% endfor %}
            </ul>
        </div>

    {% endif %}

</div>