 <!-- Start Sidebar -->
<div class="col-md-3 sidebar">

    {% include 'partials/search.njk' %}
    <ul class="ds-btn" style="margin-bottom:30px;">
        <li>
            <a class="btn btn-lg btn-info" style="display:block" href="#">
            <i class="fa fa-calendar pull-left"></i><span>Calendar 2021. / 5781.<br><small style="font-size:85%;text-transform:none;font-weight:400">Download as PDF</small></span></a> 
        </li>
    </ul>

    {% if p_id === "najava" %}
        {% include "partials/sidebar-novosti.njk" %}
        {% include "partials/sidebar-osvrti.njk" %}
    {% elseif p_id === "novost" %}
        {% include "partials/sidebar-dogadjaji.njk" %}
        {% include "partials/sidebar-osvrti.njk" %}
    {% elseif (p_id === "osvrt") %}
        {% include "partials/sidebar-dogadjaji.njk" %}
        {% include "partials/sidebar-novosti.njk" %}
    {% elseif (p_id === "knjiga") or (p_id === "knjige") %}
        {% include "partials/sidebar-dogadjaji.njk" %}
        {% include "partials/sidebar-novosti.njk" %}
        {% include "partials/sidebar-osvrti.njk" %}
    {% elseif (p_id === "publikacija") or (p_id === "Kontakti") or (p_id === "zajednice") %}
        {% include "partials/sidebar-dogadjaji.njk" %}
        {% include "partials/sidebar-novosti.njk" %}
        {% include "partials/sidebar-osvrti.njk" %}
    {% elseif p_id === "ONamaUstanove"%}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Sve ustanove</h3>
            </div>
            <ul>
                {% for item in straniceen %}

                {% if item.navigacija === "ONamaUstanove" %}

                    <li><a href="/hr/{{ item.slug }}">{{ item.naslov }}</a></li>    

                {% endif %}

                {% endfor %}
            </ul>
        </div>

    {% elseif p_id === "ONamaUdruge"%}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Sve udruge</h3>
            </div>
            <ul>
                {% for item in straniceen %}

                {% if item.navigacija === "ONamaUdruge" %}

                    <li><a href="/hr/{{ item.slug }}">{{ item.naslov }}</a></li>    

                {% endif %}

                {% endfor %}
            </ul>
        </div>

    {% elseif p_id === "ONamaPartneri"%}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Svi partneri</h3>
            </div>
            <ul>
                {% for item in straniceen %}

                {% if item.navigacija === "ONamaPartneri" %}

                    <li><a href="/hr/{{ item.slug }}">{{ item.naslov }}</a></li>    

                {% endif %}

                {% endfor %}
            </ul>
        </div>

    {% endif %}

</div>