 <!-- Start Sidebar -->
<div class="col-md-3 sidebar">

    {% include 'partials/search.njk' %}
    <ul class="ds-btn" style="margin-bottom:30px;">
        <li>
            <a class="btn btn-lg btn-info" style="display:block" href="#">
            <i class="fa fa-calendar pull-left"></i><span>Kalendar 2021. / 5781.<br><small style="font-size:85%;text-transform:none;font-weight:400">Preuzmite u PDF formatu</small></span></a> 
        </li>
    </ul>

    {% if p_id === "najava" %}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnje novosti</h3>
            </div>
            <ul>
                {% for item in novostihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/novosti/{{ item.slug }}"><strong>{{ item.naslov }}</strong></a></li>    
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnji osvrti</h3>
            </div>
            <ul>
                {% for item in osvrtihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/osvrti/{{ item.slug }}"><strong>{{ item.naslov }}</strong></a></li>    
                {% endfor %}
            </ul>
        </div>

    {% elseif p_id === "novost" %}

        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Nadolazeći događaji</h3>
            </div>
            <ul>
                {% for item in dogadjanjahr %}

                {% if item.naziv != "prazno" %}

                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/najave/{{ item.slug }}"><strong>{{ item.naziv }}</strong></a></li>    

                {% else %}

                <p><em>Na žalost trenutno nemamo najavljenih događanja</em></p>

                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnji osvrti</h3>
            </div>
            <ul>
                {% for item in osvrtihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/osvrti/{{ item.slug }}"><strong>{{ item.naslov }}</strong></a></li>    
                {% endfor %}
            </ul>
        </div>

    {% elseif (p_id === "osvrt") or (p_id === "publikacija") %}
        
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Nadolazeći događaji</h3>
            </div>
            <ul>
                {% for item in dogadjanjahr %}

                {% if item.naziv != "prazno" %}

                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/najave/{{ item.slug }}"><strong>{{ item.naziv }}</strong></a></li>    

                {% else %}

                <p><em>Na žalost trenutno nemamo najavljenih događanja</em></p>

                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
                <h3>Zadnje novosti</h3>
            </div>
            <ul>
                {% for item in novostihr %}
                    <span class="meta-data" style="margin: 5px 0 0 0;color:#0CC9E8;"><i class="fa fa-calendar"></i> {{ item.datum | dateHr }}</span>
                    <li><a href="/hr/novosti/{{ item.slug }}"><strong>{{ item.naslov }}</strong></a></li>    
                {% endfor %}
            </ul>
        </div>

    {% endif %}

</div>