---
layout: default
title: Hvala
description: Hvala
lang: hr
permalink: /hr/hvala/index.html
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/hr">Početna</a></li>
            <li class="active">{{ title }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ title }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
<div id="content" class="content full">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Hvala vam na prijavi antisemitizma</p>
        </div>
    </div>
    </div>
</div>
</div>