---
permalink: /searchindex-najave-hr.json
eleventyExcludeFromCollections: true
---

[
{% for najava in dogadjanjahr %}
{
   "title":"{{ najava.naziv }}",
   "url":"/hr/najave/{{ najava.slug }}/"
} {%- if loop.last == false -%},{% endif %}
{% endfor %} 
]