---
layout: default
title: Uvjeti korištenja
description: Uvjeti korištenja
lang: hr
permalink: /hr/uvjeti-koristenja/index.html
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/hr">Početna</a></li>
            <li class="active">{{ title }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ title }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
<div id="content" class="content full">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Korištenjem internet stranice Židovske općine Zagreb, Palmotićeva 16, 10000 Zagreb, OIB: 79730915138 (dalje: ŽOZ) i svih pridruženih stranica i servisa koji pripadaju domeni <i>zoz.hr</i> smatra se da su korisnici u svakom trenutku upoznati s ovim uvjetima korištenja te da ih u potpunosti razumiju i prihvaćaju.</p>
            <p>Internetska stranica namijenjena je olakšavanju pristupa javnosti informacijama o ŽOZ-u i našim aktivnostima. Naš je cilj da su te informacije što cjelovitije, točnije i ažuriranije. Ako nas obavijestite o pogreškama putem emaila <a href="mailto:jcz@zg.t-com.hr" target="_blank">jcz@zg.t-com.hrr</a>, poduzet ćemo sve potrebne korake da se one što prije isprave. ŽOZ zadržava pravo izmjene sadržaja i uvjeta korištenja internet stranice bez obveze prethodne najave te nije odgovoran za bilo kakvu štetu nastalu tim promjenama.</p>
            <p>ŽOZ ne snosi odgovornost za izravnu ili neizravnu štetu koja je nastala upotrebom ove stranice. ŽOZ se u potpunosti odriče svake odgovornosti koja je na bilo koji način vezana uz korištenje stranice od strane korisnika bilo uporabom ili zlouporabom sadržaja, te za bilo kakvu štetu koja može nastati korisniku ili bilo kojoj trećoj strani u vezi s uporabom ili zlouporabom sadržaja stranice. Odricanjem od navedene odgovornosti ŽOZ-u nije cilj smanjiti odgovornost za njeno postupanje u skladu sa zakonskim propisima.</p>
            <p>Također, ne možemo zajamčiti pouzdanost i ažuriranost informacija koje potječu iz vanjskih izvora i nalaze se na ovoj internetskoj stranici. Informacije na ovoj internetskoj stranici mogu sadržavati poveznice na internetske stranice koje su izvan nadzora ŽOZ-a i za koje ne možemo prihvatiti odgovornost.</p>
            <p>Informacije objavljene na ovoj stranici općeg su karaktera i kao takve nisu namijenjene specifičnim svrhama. Stoga se ne mogu smatrati stručnim ili pravnim savjetom (ako vam treba konkretan savjet, preporučujemo vam da se obratite kvalificiranom stručnjaku).</p>
            <p>Poduzimamo sve kako bismo što više smanjili smetnje prouzročene tehničkim pogreškama. Moguće je da se neki podaci ili informacije na ovoj internetskoj stranici nalaze u datotekama ili su strukturirani u formatima koji sadrže greške. U takvim slučajevima ne možemo zajamčiti da naša usluga neće biti prekinuta ili otežana na bilo koji drugi način. ŽOZ ne prihvaća odgovornost u slučaju otežanog prijenosa podataka uslijed različitih možebitnih poteškoća internetskih mreža ili neusklađenosti zbog korisnikova mrežnog preglednika. Ako nam se ukaže na pogreške, pokušat ćemo ih što prije ispraviti.</p>
            <p>Sadržaji s ovih stranica mogu se prenositi bez posebne dozvole uz navođenje izvora (osim u slučaju kada je izričito navedeno da je sadržaj prenesen iz drugog izvora). Dakle, ponovna upotreba je dopuštena uz uvjet da bude naveden izvor podataka. Međutim, korisnicima se savjetuje da provjere obavijesti o autorskim pravima pojedinih dokumenata i internetskih stranica koje se održavaju u okviru internetskog mjesta <i>zoz.hr</i>.</p>
            <p>Dopušteno je stavljati poveznicu internet stranice ŽOZ-a na druge stranice.</p> 
        </div>
    </div>
    </div>
</div>
</div>