---
layout: default
title: Politika zaštite osobnih podataka
description: Politika zaštite osobnih podataka
lang: hr
permalink: /hr/politika-zastite-osobnih-podataka/index.html
p_title: "Politika zaštite osobnih podataka"
p_description: "Politika zaštite osobnih podataka"
---
<div class="nav-backed-header parallax" style="background-image:url(/images/banner.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            <li><a href="/hr">Početna</a></li>
            <li class="active">{{ title }}</li>
            </ol>
        </div>
        </div>
    </div>
</div>
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:30px!important;">{{ title }}</h1>
    </div>
    </div>
</div>
</div>
<!-- End Page Header --> 
<!-- Start Content -->
<div class="main" role="main">
<div id="content" class="content full">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <p>Ova Izjava o zaštiti osobnih podataka (dalje: Izjava) sastavljena je u skladu s Općom uredbom o zaštiti osobnih podataka (GDPR). Odnosi se na osobne podatke koji se korištenjem web stranice <i>zoz.hr</i> prikupljaju i obrađuju od strane Židovske općine Zagreb, Palmotićeva 16, 10000 Zagreb, OIB: 79730915138 (dalje: ŽOZ).</p>
        <p>Molimo vas da pažljivo pročitate Izjavu kako biste lakše razumjeli koje vaše osobne podatke obrađujemo i u koje svrhe.</p>
        <p>Osobnim podacima u smislu ove Izjave smatraju se: ime i prezime, adresa elektronske pošte, IP adresa. Obrada osobnih podataka uključuje prikupljanje i pohranu osobnih podataka.</p>
        <p>Osobni podaci se obrađuju na zakonit, pošten i transparentan način isključivo u sljedeće svrhe:
        </p>
        <ul class="unordered">
            <li>odgovor na vaše upite postavljene na internetskoj stranici ŽOZ-a</li>
            <li>vođenje internih evidencija ŽOZ-a</li>
            <li>optimiziranje rada web stranice ŽOZ-a</li>
        </ul><p></p>
        <p>Posjetom web stranice ŽOZ-a, automatski se zabilježe općeniti, neosobni podaci (koji ste Internet pretraživač koristili, broj posjeta, prosječno vrijeme provedeno na našim stranicama). Informacije o vašem korištenju web stranica ŽOZ-a pohranjujemo za potrebe analize u svrhu optimizacije rada web stranice.</p>
        <p>Vaši osobni podaci obrađuju se na temelju izričite privole, isključivo u svrhe navedene u Izjavi. Privolu u svako doba možete povući bez ikakvih štetnih posljedica slanjem zahtjeva na e-mail: <a href="mailto:jcz@zg.t-com.hr">jcz@zg.t-com.hr</a>.</p>
        <p>Na temelju zahtjeva imate pravo na besplatne informacije o vašim osobnih podacima koji su pohranjeni, pravo na pristup svojim osobnim podacima, ograničavanje obrade, ispravak ili brisanje svojih osobnih podataka. Zahtjev se šalje na e-mail: <a href="mailto:jcz@zg.t-com.hr">jcz@zg.t-com.hr</a>.</p>
        <p>Svi se prikupljeni osobni podaci pošteno i zakonito čuvaju te su dostupni samo zaposlenicima ŽOZ-a kojima su ti podaci nužni za obavljanje posla. Svi zaposleni u ŽOZ-u odgovorni su za poštivanje načela zaštite privatnostii osobnih podataka.</p>
        <p>Vaši se podaci ne koriste u druge svrhe niti se ustupaju trećoj osobi, osim ako zakon nalaže drugačije.</p>
        <p>U slučaju povrede prava na zaštitu vaših osobnih podataka možete podnijeti pritužbu Agenciji za zaštitu osobnih podataka, Martićeva 14, 10000 Zagreb.</p>
        <p><strong>OPĆA UREDBA O ZAšTITI OSOBNIH PODATAKA (GDPR)</strong></p>
        <p>Opća uredba o zaštiti osobnih podataka (GDPR)2016/679 Europskog parlamenta i Vijeća od dana 27. travnja 2016. godine, a koja se u RH primjenjuje od 25. svibnja 2018. godine, direktiva je Europske unije koja štiti vaše osobne podatke i zahtijeva da se obrađuju u skladu sa zakonom, pod strogim uvjetima i u opravdanu svrhu. Osobe ili organizacije koje prikupljaju i upravljaju vašim osobnim podacima moraju ih zaštititi od zloupotrebe te moraju poštivati određena prava vlasnika osobnih podataka koja su zajamčena pravom EU i hrvatskim propisima.</p>
        <p><strong>PRAVA ZAJAMČENA GDPR UREDBOM:</strong></p>
        <p><strong>Pravo na pristup.</strong> Korisnik ima pravo dobiti potvrdu o tome da li se njegovi osobni podaci obrađuju ili ne, i tamo gdje je to slučaj moramo im omogućiti pristup tim podacima.</p>
        <p><strong>Pravo na ispravak.</strong> Korisnik ima pravo zatražiti ispravak netočnih osobnih podataka i pravo dodavanja osobnih podataka koje će popuniti bilo kakve nepotpune osobne podatke.</p>
        <p><strong>Pravo na zaborav.</strong> U određenim slučajevima, korisnik ima pravo zatražiti brisanje svojih osobnih podataka.</p>
        <p><strong>Pravo na ograničenje obrade.</strong> Korisnik ima pravo zatražiti ograničenje obrade, primjenjivo na određeno razdoblje i/ili određene situacije.</p>
        <p><strong>Pravo na prenosivost.</strong> Korisnik ima pravo preuzeti u strukturiranom obliku svoje osobne podatke i ima pravo prenijeti osobne podatke trećoj strani.</p>
        <p><strong>Pravo na podnošenje prigovora.</strong> U pojedinim slučajevima, korisnik ima pravo prigovora na obradu osobnih podataka, uključujući i profiliranje. Imaju pravo prigovora na daljnju obradu osobnih podataka u onoj mjeri u kojoj su prikupljeni u svrhu direktnog marketinga.</p>
        <p><strong>Pravo da se ne podliježe automatiziranoj obradi osobnih podataka.</strong> Korisnik ima pravo ne biti podvrgnut odluci koja se temelji isključivo na automatiziranoj obradi.</p>
        <p><strong>Pravo na podnošenje pritužbi.</strong> Korisnik ima pravo uložiti pritužbu u vezi s obradom osobnih podataka nadležnim tijelima za zaštitu podataka (Agenciji za zaštitu osobnih podataka).</p>
        <p><strong>Pravo na naknadu štete.</strong> U slučaju kršenja primjenjivih zakona u obradi osobnih podataka korisnik ima pravo tražiti naknadu štete za štetu koju mu je takva povreda mogla uzrokovati.</p>
        <p>Ako se vaši osobni podaci promijene, molimo da nas o promjenama obavijestite na adresu:</p>
        <p>Židovska općina Zagreb<br>
        Palmotićeva 16,<br>
        10000 Zagreb<br>
        Tel:+385 1 4922-692<br>
        E-mail: <a href="mailto:jcz@zg.t-com.hr">jcz@zg.t-com.hr</a></p>                                
        </div>
    </div>
    </div>
</div>
</div>